<launch>
  <node name="sawyer_head" pkg="rostopic" type="rostopic" respawn="false" output="screen" args="pub /robot/head/command_head_pan intera_core_msgs/HeadPanCommand '{target: 0, speed_ratio: 1, pan_mode: 1}' -1" />

  <node name="grip" pkg="move_arm" type="grip_close.py" respawn="false"/>

</launch>
